# Created by https://www.toptal.com/developers/gitignore/api/python,flask
# Edit at https://www.toptal.com/developers/gitignore?templates=python,flask

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env
.env.prod
.env.sample

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.so
.python-version

# Environments
.venv
venv/
ENV/
env/

# Heroku specific
staticfiles/
mediafiles/
Procfile

# Logs et bases de données
*.log
*.sqlite3

# Packages
build/
dist/
*.egg-info/

# Tests et couverture
.coverage
htmlcov/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store

# Fichiers de dépendances
Pipfile
Pipfile.lock
poetry.lock
