html {
  position: relative;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
}

main {
  flex: 1;
}

.detail-home {
  padding-top: 3.5em;
  padding-bottom: 0em;
}

.detail-con {
  padding-top: 4.5em;
}

.detail-info h3 {
  font-family: "Permanent Marker";
  font-weight: 100;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: -50px;
  color: #333;
}

section {
  padding: 2em 0 4em;
}

body {
  position: relative;
  background: #fff;
  min-height: 100%;
  color: #000;
  line-height: 1.6;
  text-align: left;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body h2 {
  font-family: "Permanent Marker";
  margin-bottom: 35px;
  font-size: 69px;
  margin-top: 0;
}

header {
  height: 61px;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  text-align: center;
  color: white;
}

.logo {
  float: left;
  margin-right: -190px;
  padding: 10px 0;
  margin-top: -13px;
  margin-left: 42px;
}

.logo a {
  color: #fff;
  font-family: "Permanent Marker";
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  color: #000;
}

.logo a:hover {
  color: #e7973c;
}

.primary-navigation::after {
  display: table;
  clear: both;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding-left: 0 !important;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-family: sans-serif;
}

.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 0px 0 0 0;
  text-align: center;
  font-size: 16px;
  z-index: 100;
}

.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.primary-navigation li a {
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
  border-bottom: 0;
  padding: 0.1em 0.3em 0.2em;
}

.primary-navigation li a:hover {
  color: #e7973c;
}

.primary-navigation li:hover {
  cursor: pointer;
}

.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: #fff;
}

.primary-navigation ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 150px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 0px 0px -1px #ccc;
  z-index: 1000;
  background-color: #fff;
}

.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #e7973c;
  transition: all 0.3s ease;
}

.primary-navigation .dropdown2 {
  margin-left: 149px;
  margin-top: -45px;
  z-index: 1000;
  position: absolute;
}

.primary-navigation .dropdown3 {
  margin-left: 149px;
  margin-top: -45px;
  z-index: 1000;
  position: absolute;
}

a {
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

ul li ul li a {
  transition: all 0.5s ease;
}

.content {
  flex: 1;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.hero-content {
  z-index: 2;
  position: relative;
}

.remy-pagart {
  text-align: center;
  margin-left: 50em;
  margin-bottom: 5em;
}

.hero-remy {
  font-size: 4em;
  color: #000;
  margin: 0;
  margin-bottom: -50px;
  font-family: "Permanent Marker";
}

.hero-pagart {
  font-size: 5em;
  font-family: "Permanent Marker";
  color: #000;
  margin: 0;
}

.hero-subtitle {
  font-size: 2em;
  color: #333;
  font-family: "Permanent Marker";
  margin: 0;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 63%;
  height: 100%;
  background: var(--background-gradient);
  background-image: url(../images/remy-et-mrbobo.png);
  background-position: center;
  background-size: cover;
  background-position-y: -45px;
  background-repeat: no-repeat;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 2;
  width: 100%;
  /* max-height: 5em; */
}

footer small {
  font-size: 12px;
  text-align: center;
  color: darkslategrey;
  display: block;
}

.container-footer {
  padding: 2em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.galerie-tbl {
  padding: 20px;
  text-align: center;
  margin-top: 0px;
}

.galerie-tbl h3 {
  font-family: "Permanent Marker";
  font-weight: 100;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: -50px;
  color: #333;
}

.tableaux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tbl-btn-con {
  width: 85%;
}

.tableau {
  position: relative;
  width: 165px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tableau:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tableau img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tableau .tbl-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  font-family: "Caveat";
}

.tableau:hover .tbl-details {
  transform: translateY(0);
}

.tableau .tbl-details h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.tableau-link {
  text-decoration: none;
  color: inherit;
}

.tableau-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.tableau-image {
  flex: 1;
  width: 100%;
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.tableau-image img {
  width: 50%;
  max-width: 100%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Effet au survol */
.tableau-image img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 25px 50px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px) scale(1.02);
}

/* Ajout d'un pseudo-élément pour une ombre plus dynamique */
.tableau-image img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tableau-image img:hover::after {
  opacity: 1;
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fade-in-element {
  animation: floatIn 0.6s ease-out forwards;
}

.tableau-info {
  width: 100%;
  text-align: center;
}

.tableau-info h2 {
  font-size: 2em;
  margin-bottom: 5px;
  margin-top: 0;
}

.tableau-info p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

.masque-image {
  flex: 1;
  width: 100%;
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.masque-image img {
  width: 45%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.masque-image img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 25px 50px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px) scale(1.02);
}

.masque-image img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.masque-image img:hover::after {
  opacity: 1;
}

.masque-image h2 {
  margin-bottom: 40px;
}

.btn-retour-mask:hover {
  border-bottom: 2px solid black;
  background: black;
  color: #fff;
  text-shadow: 1px 1px 0 transparent;
}

.btn-retour-mask {
  background: #fff;
  border-radius: 1.4em;
  border: 2px solid #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  height: 2.8em;
  width: 2.8em;
  margin: 0;
  line-height: 2.5em;
  outline: 0 !important;
  text-transform: uppercase;
  margin: 0.1em 0.1em 0.45em;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: black;
  font-size: 0.8em;
  position: absolute;
  top: 3em;
  left: 10em;
}

.btn-retour-tbl {
  background: #fff;
  border-radius: 1.4em;
  border: 2px solid #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  height: 2.8em;
  width: 2.8em;
  margin: 0;
  line-height: 2.5em;
  outline: 0 !important;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease-out;
  color: black;
  font-size: 0.8em;
  position: absolute;
  top: 2em;
  left: 10em;
  z-index: 1;
}

.btn-retour-tbl:hover {
  background: #333;
  color: #fff;
  text-shadow: 1px 1px 0 transparent;
}
.tableau {
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.tableau:nth-child(1) {
  animation-delay: 0.1s;
}
.tableau:nth-child(2) {
  animation-delay: 0.2s;
}
.tableau:nth-child(3) {
  animation-delay: 0.3s;
}
.tableau:nth-child(4) {
  animation-delay: 0.4s;
}
.tableau:nth-child(5) {
  animation-delay: 0.5s;
}

.tbl-details {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.news-con {
  text-align: center;
  font-family: "Permanent Marker";
}

.contact-details {
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: both;
}

.contact {
  padding: 0;
}

.btn-contact-info:hover {
  background: #fff;
  color: black;
  text-shadow: 1px 1px 0 transparent;
}

.btn-contact-info {
  text-transform: uppercase;
  margin: 0.1em 0.1em 0.45em;
  padding: 0.4em 0.6em;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
  font-size: larger;
}

.container-contact-info {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  position: relative;
}

.container-contact-info:after {
  content: " ";
  display: block;
  clear: both;
}

figcaption {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  bottom: 0;
  right: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

figcaption h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Permanent Marker", serif;
  font-style: normal;
  font-size: xxx-large;
}

figcaption p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.full-screen figure {
  margin: 0;
}

.back-img {
  background-image: url(../images/ARCHI/Shops/osiris1.jpeg);
  position: relative;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

.contact-info {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-details p {
  font-size: 1.2em;
  margin: 15px 0;
}

.contact-details a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-details a:hover {
  color: #555;
  text-decoration: underline;
}

.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-element.visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 2em;
  position: relative;
}

.gallery-con {
  margin: 3em 0 0;
}

.mySlides img {
  max-height: 29em;
  max-width: 100%;
}

.cursor {
  cursor: pointer;
}

.button-prev {
  color: #6e6e6e;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 42px;
  position: absolute;
  top: 150px;
  height: 100%;
  left: 65px;
  cursor: pointer;
}

.button-next {
  color: #6e6e6e;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 42px;
  position: absolute;
  top: 150px;
  height: 100%;
  right: 65px;
  cursor: pointer;
}

.prev {
  background: #fff;
  position: absolute;
  color: #000;
  -webkit-border-radius: 1.4em;
  border-radius: 1.4em;
  top: 34%;
  line-height: 2.5em;
  left: 0;
  height: 2.8em;
  width: 2.8em;
  font-size: 0.8em;
  margin: 0;
  border: 2px solid #000;
  outline: 0 !important;
  -webkit-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
}

.next {
  background: #fff;
  position: absolute;
  color: #000;
  -webkit-border-radius: 1.4em;
  border-radius: 1.4em;
  top: 34%;
  line-height: 2.5em;
  left: 0;
  height: 2.8em;
  width: 2.8em;
  font-size: 0.8em;
  margin: 0;
  border: 2px solid #000;
  outline: 0 !important;
  -webkit-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  margin: 1.15em 0;
  font-size: 1.3em;
  font-family: "Permanent Marker";
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin-left: 9px;
  height: 65px;
}

.demo {
  max-height: 65px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 6px solid #fff;
  border: 0;
  overflow: clip;
}
.active .demo {
  border: 6px solid #85b63a;
}

.active,
.demo:hover {
  opacity: 1;
}

.navigation-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.btn-prev,
.btn-next {
  background: #fff;
  border-radius: 1.4em;
  border: 2px solid #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
  height: 2.8em;
  width: 2.8em;
  margin: 0;
  line-height: 2.5em;
  outline: 0 !important;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease-out;
  color: #000;
  font-size: 0.8em;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.btn-prev {
  left: 50px;
}

.btn-next {
  right: 50px;
}

.btn-prev:hover,
.btn-next:hover {
  background: #333;
  color: #fff;
  text-shadow: 1px 1px 0 transparent;
}

.button-retour {
  text-align: center;
}

/* Version mobile */
@media (max-width: 768px) {
  header {
    box-shadow: none;
    background: none;
  }

  .logo {
    display: none;
  }
  figcaption {
    top: 45%;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #000;
    z-index: 1000;
    background: #fff;
    border-radius: 2px;
    width: 35px;
    height: 33px;
    box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
    border: 2px solid #000;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  .hamburger i {
    display: inline-block;
  }

  .nav-links {
    display: none;
    position: sticky;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    -webkit-overflow-scrolling: touch;
  }

  .nav-links.active {
    display: block;
    transform: translateY(0);
  }

  body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .primary-navigation ul li {
    display: block !important;
    padding: 15px 0 !important;
  }

  .dropdown.active {
    bottom: 0;
  }

  .dropdown,
  .dropdown2,
  .dropdown3 {
    position: static !important;
    display: none !important;
    background: #f8f8f8 !important;
    padding-left: 20px !important;
    margin-top: 10px !important;
    box-shadow: none !important;
  }

  .dropdown.mobile-visible,
  .dropdown2.mobile-visible,
  .dropdown3.mobile-visible {
    display: block !important;
    animation: fadeIn 0.3s ease-out;
    display: block !important;
  }

  .dropdown2,
  .dropdown3 {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .primary-navigation ul li ul li {
    margin-bottom: 10px;
  }

  .primary-navigation ul li ul li a {
    white-space: nowrap;
    padding: 8px 0 !important;
    display: block;
  }

  .nav-links > li:has(ul) > a::after {
    content: " ▼";
    font-size: 0.6em;
    vertical-align: middle;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fa-times {
    transform: rotate(180deg);
    transition: 0.3s ease;
  }

  .hero {
    position: relative;
    height: 571px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    top: 1.5em;
  }

  .hero-content {
    z-index: 2;
    width: 100%;
    margin-top: -284px;
  }

  .remy-pagart {
    text-align: center;
    margin-left: 0;
    margin-bottom: 9em;
    width: 100%;
  }

  .hero-remy {
    font-size: 3em;
    margin-bottom: -1px;
    line-height: 1.2;
  }

  .hero-pagart {
    font-size: 4em;
    line-height: 1;
  }

  .hero-subtitle {
    font-size: 1.5em;
    margin-top: 3px !important;
    padding: 0 15px;
  }

  .hero-background {
    width: 100% !important;
    height: 465px !important;
    top: auto;
    bottom: -43px;
  }

  .tableaux {
    gap: 5px;
  }

  .tableau-image {
    width: 100%;
    touch-action: pan-y;
    position: relative;
    overflow: hidden;
  }

  .tableau-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: none;
  }

  .tableau-info h2 {
    font-size: 1.5em;
  }

  .detail-info h2 {
    font-size: 1.7em;
  }

  .caption-container {
    font-size: 0.7em;
  }

  /* Reset spécifique pour les boutons sur Safari */
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .btn-prev {
    left: 0px;
  }

  .btn-next {
    right: 0px;
  }

  .btn-prev,
  .btn-next {
    background: none;
    border-radius: none;
    border: none;
    box-shadow: none;
    height: none;
    width: none;
    margin: 0;
    line-height: 2.5em;
    outline: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s ease-out;
    color: #000;
    font-size: 0.8em;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }

  .button-prev {
    left: 0;
    top: 25px;
  }

  .button-next {
    right: 0;
    top: 25px;
  }

  .prev {
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .next {
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .prev:hover {
    background: none;
    color: #000;
  }

  .next:hover {
    background: none;
    color: #000;
  }

  .btn-retour-tbl {
    top: 30px;
    left: 30px;
    background: none;
    border-radius: none;
    border: none;
    box-shadow: none;
  }

  .btn-retour-tbl:hover {
    color: #000;
    text-shadow: 1px 1px 0 transparent;
    background: none;
  }

  body h2 {
    font-size: 40px;
  }

  .detail-info .btn-retour-tbl {
    top: 15px;
    left: 12px;
  }

  .btn-retour-mask {
    top: 35px;
    left: 10px;
    background: none;
    border-radius: none;
    border: none;
    box-shadow: none;
  }

  .btn-retour-mask:hover {
    background: none;
    color: #000;
    border-radius: none;
    border: none;
    box-shadow: none;
  }

  .masque-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
  }

  .masque-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: none;
  }

  .masque-image .btn-retour-tbl {
    top: 10px;
    left: -15px;
  }

  .news-con h1 {
    font-size: x-large;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .hamburger {
    box-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
    transform: translateZ(0);
    overflow: hidden;
  }

  .primary-navigation {
    position: relative;
    z-index: 1;
  }
}
