<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mon Site Web{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/Capture_d_écran_4-3-2025_141659_turbologo.com-removebg-preview.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav role="navigation" class="primary-navigation">
        <div class="logo">
          <a href="/">REMY PAGART</a>
        </div>

        <ul class="nav-links" id="nav-links">
          <li><a href="/">Home</a></li>
          <li>
            <a href="#">Work</a>
            <ul class="dropdown" &dtrif;>
              <li><a href="/tableaux">Painting</a></li>
              <li>
                <a href="/sculptures.html">Sculpture</a>
              </li>
              <li>
                <a href="#">Design</a>
                <ul class="dropdown2">
                  <li><a href="/furnitures.html">Furniture</a></li>
                  <li><a href="/motos.html">Bikes</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Archi</a>
                <ul class="dropdown2">
                  <li><a href="/boutiques.html">Boutique</a></li>
                  <li><a href="/houses.html">House</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <main>{% block content %}{% endblock %}</main>
    </div>
    {% block footer %}
    <footer>
      <div class="container-footer">
        <small> &copy; 2025 Rémy pagart. Tous droits réservés. </small>
      </div>
    </footer>
    {% endblock %}
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap");
    </style>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
