{% extends "base.html" %} {% block title %}Boutiques-Rémy{% endblock %} {% block
content %}
<section class="galerie-tbl fade-in-element">
  <h2>Boutiques</h2>
  <div class="tableaux">
    {% for boutique in boutiques%}
    <a
      href="
        {% if boutique.titre == 'Boutique 1' %}
          {{ url_for('shops') }}
        {% elif boutique.titre == 'Boutique 2' %}
          {{ url_for('shops2') }}
        {% elif boutique.titre == 'Boutique 3' %}
          {{ url_for('shops3') }}
        {% elif boutique.titre == 'Boutique 4' %}
          {{ url_for('shops4') }}
        {% elif boutique.titre == 'Boutique 5' %}
          {{ url_for('shops5') }}
        {% else %}
          {{ url_for('boutiques', boutique_id=boutique.id) }}
        {% endif %}"
      class="tableau"
      data-category="{{ boutique.categorie }}"
    >
      <div class="tableau">
        <img
          src="{{ url_for('static', filename='/images/ARCHI/Shops/' + boutique.image) }}"
          alt="{{ boutique.titre }}"
        />
        <div class="tbl-details">
          <h4>{{ boutique.titre }}</h4>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
