{% extends "base.html" %} {% block title %}Rémy Pagart Boutiques | Design
boutiques {% endblock %} {% block content %}
<section class="detail-con main">
  <div class="galerie-tbl fade-in-element">
    <h1>Boutiques</h1>
    <div class="tableaux">
      {% for boutique in boutiques%}
      <a
        href="
        {% if boutique.titre == 'ILLUSTRATION' %}
          {{ url_for('shops') }}
        {% elif boutique.titre == 'IRO' %}
          {{ url_for('shops2') }}
        {% elif boutique.titre == 'OSIRIS' %}
          {{ url_for('shops3') }}
        {% elif boutique.titre == 'ZABOU' %}
          {{ url_for('shops4') }}
        {% elif boutique.titre == 'VIRUS' %}
          {{ url_for('shops5') }}
        {% else %}
          {{ url_for('boutiques', boutique_id=boutique.id) }}
        {% endif %}"
        class="tableau"
        data-category="{{ boutique.categorie }}"
      >
        <div class="tableau">
          <img
            src="{{ url_for('static', filename='images/Boutiques/' + boutique.image) }}"
            alt="{{ boutique.titre }}"
          />
          <div class="tbl-details">
            <h4>{{ boutique.titre }}</h4>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
