{% extends "base.html" %} {% block title %}Contact - Remy{% endblock %} {% block
content %} {% set hide_footer = False %}
<section class="contact">
  <div class="full-screen">
    <figure>
      <div class="back-img"></div>
      <figcaption>
        <div class="container-contact-info">
          <h1>REMY PAGART</h1>
          <p>Tel: 06 85 84 50 99</p>
          <div class="container-btn-conatct-info">
            <a class="btn-contact-info" href="mailto:artiste@example.com">
              Mail
            </a>
            <a
              class="btn-contact-info2"
              href="https://instagram.com/artiste"
              target="_blank"
            >
              Instagram
            </a>
            <a
              class="btn-contact-info1"
              href="https://facebook.com/artiste"
              target="_blank"
            >
              Facebook
            </a>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
{% endblock %}
