{% extends "base.html" %} {% block title %}Contact - Remy{% endblock %} {% block
content %}
<section class="contact">
  <div class="full-screen">
    <figure>
      <div class="back-img"></div>
      <figcaption>
        <div class="container-contact-info">
          <h1>REMY PAGART</h1>
          <p>Tel: 06 85 84 50 99</p>
          <div class="container-btn-conatct-info">
            <a class="btn-contact-info" href="mailto:artiste@example.com">
              <i class="fa-solid fa-envelope"></i>
            </a>
            <a
              class="btn-contact-info"
              href="https://instagram.com/artiste"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a
              class="btn-contact-info"
              href="https://facebook.com/artiste"
              target="_blank"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
{% endblock %}
