{% extends "base.html" %} {% block title %}Rémy Pagart contact{% endblock %} {%
block content %}
<section class="contact">
  <div class="full-screen">
    <figure>
      <div class="back-img"></div>
      <figcaption>
        <div class="container-contact-info fade-in-element">
          <h1>REMY PAGART</h1>
          <p><i class="fa-solid fa-phone"></i> : 06 85 84 50 99</p>
          <div class="container-btn-conatct-info">
            <a class="btn-contact-info" href="mailto:rpagart@sfr.fr">
              <i class="fa-solid fa-envelope"></i>
            </a>
            <a
              class="btn-contact-info"
              href="https://www.instagram.com/remypagart/"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a
              class="btn-contact-info"
              href="https://www.facebook.com/p/R%C3%A9my-Pagart-ART/"
              target="_blank"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
{% endblock %} {% block footer %}{% endblock %}
