{% extends "base.html" %} {% block title %}Furniture-Rémy{% endblock %} {% block
content %}
<section class="detail-con main">
  <div class="container">
    <div class="detail-info">
      <h2>FURNITURE</h2>
    </div>

    <div class="gallery-con">
      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[0].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[1].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[2].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[3].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[4].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[5].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[6].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[7].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[8].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[9].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[10].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[11].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[12].image) }}"
        />
      </div>

      <div class="gallery-button">
        <div class="button-prev">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
        </div>
        <div class="button-next">
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
      </div>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[0].image) }}"
            onclick="currentSlide(1)"
            alt="{{ furnitures[0].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[1].image) }}"
            onclick="currentSlide(2)"
            alt="{{ furnitures[1].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[2].image) }}"
            onclick="currentSlide(3)"
            alt="{{ furnitures[2].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[3].image) }}"
            onclick="currentSlide(4)"
            alt="{{ furnitures[3].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[4].image) }}"
            onclick="currentSlide(5)"
            alt="{{ furnitures[4].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[5].image) }}"
            onclick="currentSlide(6)"
            alt="{{ furnitures[5].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[6].image) }}"
            onclick="currentSlide(7)"
            alt="{{ furnitures[6].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[7].image) }}"
            onclick="currentSlide(8)"
            alt="{{ furnitures[7].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[8].image) }}"
            onclick="currentSlide(9)"
            alt="{{ furnitures[8].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[9].image) }}"
            onclick="currentSlide(10)"
            alt="{{ furnitures[9].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[10].image) }}"
            onclick="currentSlide(11)"
            alt="{{ furnitures[10].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[11].image) }}"
            onclick="currentSlide(12)"
            alt="{{ furnitures[11].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FURNITURES/' + furnitures[12].image) }}"
            onclick="currentSlide(13)"
            alt="{{ furnitures[12].titre }}"
          />
        </span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
