{% extends "base.html" %} {% block title %}Fusos-rémy{% endblock %} {% block
content %}
<section class="detail-con main">
  <div class="container">
    <div class="detail-info">
      <h2>FUSOS</h2>
      <a href="/sculptures.html" class="btn-retour-tbl"
        >Retour aux sculptures</a
      >
    </div>

    <div class="gallery-con">
      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[0].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[1].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[2].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[3].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[4].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[5].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[6].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/FUSOS/' + fusos[7].image) }}"
        />
      </div>

      <div class="gallery-button">
        <div class="button-prev">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
        </div>
        <div class="button-next">
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
      </div>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[0].image) }}"
            onclick="currentSlide(1)"
            alt="{{ fusos[0].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[1].image) }}"
            onclick="currentSlide(2)"
            alt="{{ fusos[1].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[2].image) }}"
            onclick="currentSlide(3)"
            alt="{{ fusos[2].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[3].image) }}"
            onclick="currentSlide(4)"
            alt="{{ fusos[3].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[4].image) }}"
            onclick="currentSlide(5)"
            alt="{{ fusos[4].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[5].image) }}"
            onclick="currentSlide(6)"
            alt="{{ fusos[5].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[6].image) }}"
            onclick="currentSlide(7)"
            alt="{{ fusos[6].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/FUSOS/' + fusos[7].image) }}"
            onclick="currentSlide(8)"
            alt="{{ fusos[7].titre }}"
          />
        </span>
      </div>
    </div>
  </div>
</section>

{% endblock %}
