{% extends "base.html" %} {% block title %}House-rémy{% endblock %} {% block
content %}
<section class="detail-con main">
  <div class="container">
    <div class="detail-info">
      <h2>HOUSE</h2>
    </div>

    <div class="gallery-con">
      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[0].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[1].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[2].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[3].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[4].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[5].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/House/' + houses[6].image) }}"
        />
      </div>

      <div class="gallery-button">
        <div class="button-prev">
          <a id="btn-prev" class="prev" onclick="plusSlides(-1)">❮</a>
        </div>
        <div class="button-next">
          <a id="btn-next" class="next" onclick="plusSlides(1)">❯</a>
        </div>
      </div>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[0].image) }}"
            onclick="currentSlide(1)"
            alt="{{ houses[0].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[1].image) }}"
            onclick="currentSlide(2)"
            alt="{{ houses[1].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[2].image) }}"
            onclick="currentSlide(3)"
            alt="{{ houses[2].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[3].image) }}"
            onclick="currentSlide(4)"
            alt="{{ houses[3].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[4].image) }}"
            onclick="currentSlide(5)"
            alt="{{ houses[4].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[5].image) }}"
            onclick="currentSlide(6)"
            alt="{{ houses[5].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/House/' + houses[6].image) }}"
            onclick="currentSlide(7)"
            alt="{{ houses[6].titre }}"
          />
        </span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
