{% extends "base.html" %} {% block meta_seo %}
<!-- Balises spécifiques à l'accueil -->
<meta
  name="description"
  content="Rémy Pagart - Artiste designer. Découvrez mes créations uniques."
/>
<meta
  name="keywords"
  content="rémy pagart, remy pagart, artiste designer, artist designer, artist, artiste"
/>
<meta property="og:title" content="Rémy Pagart - Site Officiel" />
<link rel="canonical" href="https://www.remypagart.com" />
{% endblock %} {% block title %}Remy Pagart - Homepage{% endblock %} {% block
content %}
<section class="detail-home main">
  <div class="hero">
    <div class="hero-content">
      <div class="remy-pagart fade-in-element">
        <h2 class="hero-remy">REMY</h2>
        <h1 class="hero-pagart">PAGART</h1>
        <p class="hero-subtitle">Artist Designer</p>
      </div>
    </div>
    <div class="hero-background fade-in-element"></div>
  </div>
</section>
{% endblock %} {% block footer %}{% endblock %}
