{% extends "base.html" %} {% block title %}Rémy Pagart - Homepage{% endblock %}
{% block content %}
<section class="detail-home main">
  <div class="hero">
    <div class="hero-content">
      <div class="remy-pagart fade-in-element">
        <h2 class="hero-remy">REMY</h2>
        <h1 class="hero-pagart">PAGART</h1>
        <p class="hero-subtitle">Artist Designer</p>
      </div>
    </div>
    <div class="hero-background fade-in-element"></div>
  </div>
</section>
{% endblock %} {% block footer %}{% endblock %}
