{% extends "base.html" %} {% block title %}Rémy Pagart Masques en inox{%
endblock %} {% block content %}
<section class="detail-con main">
  <div class="tableau-details">
    <div class="tableau-info">
      <h1>{{ masque.titre }}</h1>
    </div>

    <a href="/masques" class="btn-retour-tbl">
      <i class="fa-solid fa-rotate-left"></i>
    </a>
    <div class="tbl-btn-con">
      <div class="masque-image">
        <img
          src="{{ url_for('static', filename='images/MASKINOX/' + masque.image) }}"
          alt="{{ masque.titre }}"
          class="tbl-img fade-in-element"
        />
      </div>

      <div class="gallery-btn">
        <a
          id="btn-prev"
          href="{{ url_for('masque', masque_id=prev_masque_id) }}"
          class="btn-prev"
          >❮</a
        >
        <a
          id="btn-next"
          href="{{ url_for('masque', masque_id=next_masque_id) }}"
          class="btn-next"
          >❯</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
