{% extends "base.html" %} {% block title %}Masques-rémy{% endblock %} {% block
content %}
<section class="detail-con main">
  <div class="galerie-tbl fade-in-element">
    <h2>MASKS</h2>
    <h3>Inox</h3>
    <a href="/sculptures" class="btn-retour-mask"
      ><i class="fa-solid fa-rotate-left"></i
    ></a>
    <div class="tableaux">
      {% for masque in masques %}
      <a
        href="{{ url_for('masque', masque_id=masque.id) }}"
        class="tableau"
        data-category="{{ masque.categorie }}"
      >
        <div class="tableau">
          <img
            src="{{ url_for('static', filename='images/MASKINOX/' + masque.image) }}"
            alt="{{ masque.titre }}"
          />
          <div class="tbl-details">
            <h4>{{ masque.titre }}</h4>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
