{% extends "base.html" %} {% block title %}Masque-rémy{% endblock %} {% block
content %}
<section class="tableau-details fade-in-element">
  <div class="tableau-image fade-in-element">
    <img
      src="{{ url_for('static', filename='images/MASKINOX/' + masque.image) }}"
      alt="{{ masque.titre }}"
    />
  </div>
  <div class="tableau-info fade-in-element">
    <h2>{{ masque.titre }}</h2>
    <p>{{ masque.description }}</p>
    <div class="navigation-buttons">
      <a
        href="{{ url_for('masque', masque_id=prev_masque_id) }}"
        class="btn-prev"
        >❮ Prev</a
      >
      <a
        href="{{ url_for('masque', masque_id=next_masque_id) }}"
        class="btn-next"
        >Next ❯</a
      >
    </div>
    <a href="/masques" class="btn-retour-tbl fade-in-element"
      >Retour aux masques</a
    >
  </div>
</section>
{% endblock %}
