{% extends "base.html" %} {% block title %}Shop3-rémy{% endblock %} {% block
content %}
<section class="detail-con main">
  <div class="container">
    <div class="detail-info">
      <h2>Boutiques</h2>
      <a href="/boutiques.html" class="btn-retour-tbl"
        ><i class="fa-solid fa-rotate-left"></i
      ></a>
    </div>

    <div class="gallery-con">
      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[0].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[1].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[2].image) }}"
        />
      </div>

      <div class="mySlides">
        <img
          src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[3].image) }}"
        />
      </div>

      <div class="gallery-button">
        <div class="button-prev">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
        </div>
        <div class="button-next">
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
      </div>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[0].image) }}"
            onclick="currentSlide(1)"
            alt="{{ shops3[0].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[1].image) }}"
            onclick="currentSlide(2)"
            alt="{{ shops3[1].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[2].image) }}"
            onclick="currentSlide(3)"
            alt="{{ shops3[2].titre }}"
          />
        </span>

        <span class="column">
          <img
            class="demo cursor"
            src="{{ url_for('static', filename='images/ARCHI/Shops/' + shops3[2].image) }}"
            onclick="currentSlide(4)"
            alt="{{ shops3[3].titre }}"
          />
        </span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
