{% extends "base.html" %} {% block title %}Rémy Pagart Tableaux | Art
Contemporain {% endblock %} {% block content %}
<section class="detail-con main">
  <div class="galerie-tbl fade-in-element">
    <h2>TABLOS</h2>
    <h3>Plastics on wood</h3>
    <div class="tableaux">
      {% for tableau in tableaux %}
      <a
        href="{{ url_for('tableau', tableau_id=tableau.id) }}"
        class="tableau"
        data-category="{{ tableau.categorie }}"
      >
        <div class="tableau">
          <img
            src="{{ url_for('static', filename='images/photos_TABLOS_site/' + tableau.image) }}"
            alt="{{ tableau.titre }}"
          />
          <div class="tbl-details">
            <h4>{{ tableau.titre }}</h4>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
